{{!-- Desktop Table --}}
<table class="ui celled table raised segment only computer">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Code</th>
      <th>Temp</th>
      <th>Wind Speed</th>
      <th>Pressure</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  {{!-- Chart --}}
  <div class="ui raised segment" id="chart"></div>

  <tbody>
    {{#each station.readings}}
      <tr>
        <td>
          {{date}}
        </td>
        <td>
          {{code}}
        </td>
        <td>
          {{temperature}} °C
        </td>
        <td>
          {{windSpeed}}
        </td>
        <td>
          {{pressure}}
        </td>
        {{!-- Edit Reading --}}
        <td>
          <a href="/reading/{{../station.id}}/editreading/{{id}}" class="ui icon button">
            <i class="pencil alternate icon"></i> Update
          </a>
        </td>
        {{!-- Delete Reading --}}
        <td>
          <a href="/station/{{../station.id}}/deletereading/{{id}}" class="ui icon button">
            <i class="icon trash"></i> Delete
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{!-- Mobile Table --}}
<div class="ui fluid card raised segment only mobile">
  {{#each station.readings}}
    <ul>
      <li class="list-unstlyed">
        <span class="strong">Date/Time:</span> {{date}}
      </li>
      <li class="list-unstlyed">
        <span class="strong">Code:</span> {{code}}
        </li>
      <li class="list-unstlyed">
        <span class="strong">Temp:</span> {{temperature}} °C
        </li>
      <li class="list-unstlyed">
        <span class="strong">Wind Speed:</span> {{windSpeed}}
        </li>
      <li class="list-unstlyed">
        <span class="strong">Pressure:</span> {{pressure}}
      </li>
    </ul>
    <div class="flex ml-auto bottom-small-margin">
    {{!-- Edit Reading --}}
      <a href="/reading/{{../station.id}}/editreading/{{id}}" class="ui icon button">
        <i class="pencil alternate icon"></i> Update
      </a>
    {{!-- Delete Reading --}}
      <a href="/station/{{../station.id}}/deletereading/{{id}}" class="ui icon button right-small-margin">
        <i class="icon trash"></i> Delete
      </a>
    </div>
    <hr>
  {{/each}}
</div>

{{#each station.readings}}
  <script>
    const data = {
      labels: [
        {{#each trendLabels}}
          "{{this}}",
        {{/each}}
      ],
      datasets: [
        {
          name: "Temperature", type: "line",
          values: [
            {{#each tempTrend}}
              "{{this}}",
            {{/each}}
          ]
        }
      ]
    }

    const chart = new frappe.Chart("#chart", {
      title: "Temperature Trend",
      data: data,
      type: 'line',
      height: 250,
    })
  </script>
{{/each}}
