<table class="ui celled table raised segment">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Code</th>
      <th>Temp</th>
      <th>Wind Speed</th>
      <th>Pressure</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each station.readings}}
      <tr>
        <td>
          {{date}}
        </td>
        <td>
          {{code}}
        </td>
        <td>
          {{temperature}}
        </td>
        <td>
          {{windSpeed}}
        </td>
        <td>
          {{pressure}}
        </td>
        {{!-- Edit Reading --}}
        <td>
          <a href="/reading/{{../station.id}}/editreading/{{id}}" class="ui icon button">
            <i class="pencil alternate icon"></i>
          </a>
        </td>
        {{!-- Delete Reading --}}
        <td>
          <a href="/station/{{../station.id}}/deletereading/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{!-- Chart --}}
<div class="ui raised segment" id="chart"></div>

{{#each station.readings}}
  <script>
    const data = {
      labels: [
        {{#each trendLabels}}
          "{{this}}",
        {{/each}}
      ],
      datasets: [
        {
          name: "Temperature", type: "line",
          values: [
            {{#each tempTrend}}
              "{{this}}",
            {{/each}}
          ]
        }
      ]
    }

    const chart = new frappe.Chart("#chart", {
      title: "Temperature Trend",
      data: data,
      type: 'line',
      height: 250,
    })
  </script>
{{/each}}
