{{> menu id="accounts"}}

<!--  User first name & last name  -->
<header class="ui header">
    <h2>Welcome {{member.firstName}} {{member.lastName}}</h2>
</header>

<div class="ui equal width stackable grid">

    <div class="column">
        <div class="ui link cards">
            <div class="card">
                <div class="image">
                    <img src="/images/profile.png">
                </div>
                <div class="content">
                    <div class="header">{{member.firstName}} {{member.lastName}}</div>
                    <div class="meta">
                        <a>User</a>
                    </div>
                    <div class="description">
                        <strong>Email:</strong>  {{member.email}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Edit account form  -->
    {{> editaccount}}
</div>