{{> menu id="dashboard"}}

<section class="ui">
  {{> liststations}}

  <div id="map"></div>

  {{> addstation}}
</section>

{{!-- Leaflet Map --}}
<script>

  // Map Center
  var map = L.map('map').setView([51.9036, -8.4683], 12);

  // Map Tiling
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    minZoom: 2,
    maxZoom: 19,
    attribution: '© OpenStreetMap'
  }).addTo(map);

  // Looping through stations, add markers
  for (let i = 0; i < {{stations.length}}; i++){
    {{#each stations}}
      var marker = L.marker([{{lat}}, {{lng}}])
        .bindPopup("{{name}}: {{lat}}° N, {{lng}}° W")
        .addTo(map);
    {{/each}}
  }

</script>

