{{> menu}}

<form class="ui stacked segment form" action="/reading/{{station.id}}/updatereading/{{reading.id}}" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Code</label>
      <input placeholder="00" type="number" name="code" value="{{reading.code}}">
    </div>
    <div class="field">
      <label>Temp</label>
      <input placeholder="00" type="number" name="temperature" value="{{reading.temperature}}">
    </div>
    <div class="field">
      <label>Wind Speed</label>
      <input placeholder="00" type="number" name="windSpeed" value="{{reading.windSpeed}}">
    </div>
    <div class="field">
      <label>Pressure</label>
      <input placeholder="00" type="number" name="pressure" value="{{reading.pressure}}">
    </div>
  </div>
  <button class="ui blue submit button">Update Reading</button>
</form>