{{> menu}}

<section>
  <h2 class="ui header top-medium-padding">
    {{station.name}}
  </h2>

  <table>
    <tbody>
    {{!-- Trends and Latest Data --}}
    <div class="ui five column stackable grid">

      <div id="station" class="column">
        <div class="ui fluid inverted card">
          <div class="middle aligned content station-card-height">
            <h3 class="ui header top-medium-padding">
              {{station.name}}
              <i class="marker icon"></i>
            </h3>
            <p class="description">
              Lat: {{station.lat}}
              <br>
              Lng: {{station.lng}}
            </p>
          </div>
        </div>
      </div>

      <div id="weather" class="column">
        <div class="ui fluid inverted card">
          <div class="middle aligned content station-card-height">
            <h3 class="ui header top-medium-padding">
              Weather
              {{#if stationSummary.latestWeatherIcon}}
                  <i id="latestWeatherIcon" class="{{stationSummary.latestWeatherIcon}}"></i>
              {{/if}}
            </h3>
            <p class="description">
                {{stationSummary.latestWeather}}
            </p>
          </div>
        </div>
      </div>

      <div id="temperature" class="column">
        <div class="ui fluid inverted card">
          <div class="middle aligned content station-card-height">
            <h3 class="ui header top-medium-padding">
                Temp
                <i class="temperature low icon"></i>
            </h3>
            <p class="description">
              {{stationSummary.latestTemperature}} °C
              <br>
              {{stationSummary.fahrenheitValue}} F
              <br>
              Max: {{stationSummary.maxTemperature}}
              <br>
              Min: {{stationSummary.minTemperature}}
            </p>
          </div>
        </div>
      </div>

      <div id="wind" class="column">
          <div class="ui fluid inverted card">
              <div class="middle aligned content station-card-height">
                  <h3 class="ui header top-medium-padding">
                    Wind
                    <i class="wind icon"></i>
                  </h3>
                  <p class="description">
                    {{stationSummary.BeaufortValue}} bft
                    <br>
                    {{stationSummary.windCompass}}
                    <br>
                    Feels like {{stationSummary.windChill}}
                    <br>
                    Max: {{stationSummary.maxWindSpeed}}
                    <br>
                    Min: {{stationSummary.minWindSpeed}}
                  </p>
              </div>
          </div>
      </div>

      <div id="pressure" class="column">
        <div class="ui fluid inverted card">
          <div class="middle aligned content station-card-height">
              <h3 class="ui header top-medium-padding">
                Pressure
                <i class="cloud sun icon"></i>
              </h3>
              <p class="description">
                  {{stationSummary.latestPressure}} hpa
                  <br>
                  Max: {{stationSummary.maxPressure}}
                  <br>
                  Min: {{stationSummary.minPressure}}
              </p>
          </div>
        </div>
      </div>

    </div>

      {{!-- Displays readings for each station --}}
      {{> listreadings}}

      {{!-- Add reading form --}}
      {{> addreading}}
    </tbody>
  </table>
</section>
