{{> menu}}

<section>
  <h2 class="ui header top-medium-padding">
    {{station.name}}
  </h2>

  <table>
    <tbody>
    {{!-- Trends and Latest Data --}}
    <div class="ui five column stackable grid">

      <div id="station" class="column">
        <div class="ui fluid inverted card">
          <div class="middle aligned content station-card-height">
            <h3 class="ui header top-medium-padding">
              {{station.name}}
              <i class="marker icon"></i>
            </h3>
            <p class="description">
              Lat: {{station.lat}}
              <br>
              Lng: {{station.lng}}
            </p>
          </div>
        </div>
      </div>

      <div id="weather" class="column">
        <div class="ui fluid inverted card">
          <div class="middle aligned content station-card-height">
            <h3 class="ui header top-medium-padding">
              Weather
              {{#if station.latestWeatherIcon}}
                  <i id="latestWeatherIcon" class="{{station.latestWeatherIcon}}"></i>
              {{/if}}
            </h3>
            <p class="description">
                {{station.latestWeather}}
            </p>
          </div>
        </div>
      </div>

      <div id="temperature" class="column">
        <div class="ui fluid inverted card">
          <div class="middle aligned content station-card-height">
            <h3 class="ui header top-medium-padding">
                Temp
                <i class="temperature low icon"></i>
            </h3>
            <p class="description">
              {{#if stationSummary.latestTemperature}}
                {{stationSummary.latestTemperature}} °C
                <br>
                {{station.fahrenheitValue}} F
                <br>
                Max: {{station.maxTemperature}}
                <br>
                Min: {{station.minTemperature}}
              {{/if}}
            </p>
          </div>
        </div>
      </div>

      <div id="wind" class="column">
          <div class="ui fluid inverted card">
              <div class="middle aligned content station-card-height">
                  <h3 class="ui header top-medium-padding">
                    Wind
                    <i class="wind icon"></i>
                  </h3>
                  <p class="description">
                  {{#if station.BeaufortValue}}
                    {{station.BeaufortValue}} bft
                    <br>
                    {{station.windCompass}}
                    <br>
                    Feels like {{station.windChill}}
                    <br>
                    Max: {{station.maxWindSpeed}}
                    <br>
                    Min: {{station.minWindSpeed}}
                  {{/if}}
                  </p>
              </div>
          </div>
      </div>

      <div id="pressure" class="column">
        <div class="ui fluid inverted card">
          <div class="middle aligned content station-card-height">
              <h3 class="ui header top-medium-padding">
                Pressure
                <i class="cloud sun icon"></i>
              </h3>
              <p class="description">
                  {{#if stationSummary.latestPressure}}
                    {{stationSummary.latestPressure}} hpa
                    <br>
                    Max: {{station.maxPressure}}
                    <br>
                    Min: {{station.minPressure}}
                  {{/if}}
              </p>
          </div>
        </div>
      </div>

    </div>

      {{!-- Displays readings for each station --}}
      {{> listreadings}}

      {{!-- Add reading form --}}
      {{> addreading}}
    </tbody>
  </table>
</section>
