{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{station.title}}
  </h2>

  <table>
    <tbody>
    {{!-- Trends and Latest Data --}}
    <div class="ui five column stackable grid">

      <div id="station" class="column">
        <div class="ui fluid inverted card">
          <div class="middle aligned content station-card-height">
            <h3 class="ui header top-medium-padding">
              {{station.name}}
              <i class="marker icon"></i>
            </h3>
            <p class="description">
              Lat: {{station.lat}}
              <br>
              Lng: {{station.lng}}
            </p>
          </div>
        </div>
      </div>

      <div id="weather" class="column">
        <div class="ui fluid inverted card">
          <div class="middle aligned content station-card-height">
            <h3 class="ui header top-medium-padding">
              Weather
              {{#if stationSummary.latestWeather}}
                  <i id="latestWeather"></i>
              {{/if}}
            </h3>
            <p class="description">
                {{stationSummary.latestWeather}}
            </p>
          </div>
        </div>
      </div>

      <div id="temperature" class="column">
        <div class="ui fluid inverted card">
          <div class="middle aligned content station-card-height">
            <h3 class="ui header top-medium-padding">
                Temp
                <i class="temperature low icon"></i>
            </h3>
            <p class="description">
              {{station.temperature}} °C
              <br>
              {{station.fahrenheitTemp}} F
            </p>
          </div>
        </div>
      </div>

      <div id="wind" class="column">
          <div class="ui fluid inverted card">
              <div class="middle aligned content station-card-height">
                  <h3 class="ui header top-medium-padding">
                    Wind
                    <i class="wind icon"></i>
                  </h3>
                  <p class="description">
                    {{station.wind}} bft
                  </p>
              </div>
          </div>
      </div>

      <div id="pressure" class="column">
        <div class="ui fluid inverted card">
          <div class="middle aligned content station-card-height">
              <h3 class="ui header top-medium-padding">
                Pressure
                <i class="cloud sun icon"></i>
              </h3>
              <p class="description">
                  {{station.pressure}} hpa
              </p>
          </div>
        </div>
      </div>

    </div>

      {{!-- Displays readings for each station --}}
      {{> listreadings}}

      {{!-- Add reading form --}}
      {{> addreading}}
    </tbody>
  </table>
</section>
